[tool.poetry]
name = "pkg-exporter"
version = "0.0.0"
description = "This project provides an textfile-based exporter for apt-repositories"
authors = ["Marvin Gaube <dev@marvingaube.de>"]
license = "GPL3"
readme = "README.md"


[tool.poetry.dependencies]
python = "^3.6"
prometheus-client = "^0.15.0"

[tool.poetry.group.dev.dependencies]
flake8 = "*"
stdeb = "^0.10.0"

[tool.poetry-dynamic-versioning]
enable = true
dirty = true

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.scripts]
pkg-exporter = 'pkg_exporter.textfile:main'